<section class="arka">
	<div class="title">
		<h3 class="title-text">
			Fast and easy custom boxes your customers will love
		</h3>
	</div>

	<div class="content">
		<div class="content-card">
			<div class="image">
				<img src="./images/advantage/advantage_1.png" alt="">
			</div>

			<div class="card-title">
				<h3 class="title-text">
					Eco-Friendly Material
				</h3>
			</div>

			<div class="card-desc">
				<p class="desc-test">
					Order as little as 10, giving you the lowest minimums in the industry at the best prices.
				</p>
			</div>
		</div>
		<div class="content-card">
			<div class="image">
				<img src="./images/advantage/advantage_2.png" alt="">
			</div>

			<div class="card-title">
				<h3 class="title-text">
					Full Outside Print
				</h3>
			</div>

			<div class="card-desc">
				<p class="desc-test">
					Design what you want - no extra cost! Prices include 100% exterior print, change design whenever!
				</p>
			</div>
		</div>
		<div class="content-card">
			<div class="image">
				<img src="./images/advantage/advantage_3.png" alt="">
			</div>

			<div class="card-title">
				<h3 class="title-text">
					Proofing
				</h3>
			</div>

			<div class="card-desc">
				<p class="desc-test">
					After you order, our internal designers help make sure your designs are 100% ready for printing!
				</p>
			</div>
		</div>
	</div>
</section>
